* {
	color: #242424;
	font-family: Open sans;
	font-weight: 400;
	line-height: 1.2;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
a {
	font-weight: 400;
	text-decoration: none;
	color: inherit; 
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
a[href^=tel] { color: inherit; text-decoration: none; }
ul {
	list-style: none;
}
body {
	background-color: #fff;
	overflow-x:hidden;
	margin: 0;
	padding: 0;
}

input {
	padding-left: 10px;
}
input:focus, button:focus {
	outline: none;
}

input::-webkit-input-placeholder {color: #929292; font-style: italic;}
input::-moz-placeholder          {color: #929292; font-style: italic;}
input:-moz-placeholder           {color: #929292; font-style: italic;}
input:-ms-input-placeholder      {color: #929292; font-style: italic;}

textarea::-webkit-input-placeholder {color: #929292; font-style: italic;}
textarea::-moz-placeholder          {color: #929292; font-style: italic;}
textarea:-moz-placeholder           {color: #929292; font-style: italic;}
textarea:-ms-input-placeholder      {color: #929292; font-style: italic;}

input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}
input:focus:-moz-placeholder           {color: transparent}
input:focus:-ms-input-placeholder      {color: transparent}

textarea:focus::-webkit-input-placeholder {color: transparent}
textarea:focus::-moz-placeholder          {color: transparent}
textarea:focus:-moz-placeholder           {color: transparent}
textarea:focus:-ms-input-placeholder      {color: transparent}

.container {
	width: 1280px;
}

section h2 {
	font-size: 2.7rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 70px;
	margin-top: 40px;
	color: #242424;
}


/* HEADER */
header {
	height: 190px;
	width: 100%;
	margin-bottom: 90px;
}
header>.container>.row>.rightPart {
	width: 70%;
	display: inline-block;
	float: left;
	padding:0 15px;
}
header .logoBox{
	height: 100%;
	width: 30%;
	display: inline-block;
	float: left;
	padding:0 15px;
}
header .logo {
	width: 100%;
	height: 25px;
	margin-top: 40px;
}
header .slogan {
	margin-top: 30px;
	font-size: 1.5rem;
	width: 300px;
	font-weight: 600;
}
header .menu_wrap{
	width: 100%;
	height: 39px;
	border-bottom: 1px solid #e9ecee;
}
header .menu_wrap .city {
	float:left;
	height: 39px;
	line-height:39px;
	font-size: 1.4rem;
	font-weight: 600;
	color:#000;
}
header .menu_wrap ul {
	padding: 0;
	float: right;
	margin-bottom: 0;
}
header .menu_wrap ul li{
	display: inline-block;
	height: 100%;
	padding: 0 20px;
	text-align: center;
}
header .menu_wrap ul li>a{
	line-height: 38px;
	font-size: 1.3rem;
	font-weight: 600;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
	position: relative;
}
header .menu_wrap ul li>a:before {
	content: '';
	width: 5px;
	height: 5px;
	background-color: #c7ced3;
	position: absolute;
	left: -15px;
	top: 7px;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}
header .menu_wrap ul li:last-child {
	padding-right: 0;
}/* 
header .menu_wrap ul li:last-child>a {
	font-size: 1.2rem;
}
header .menu_wrap ul li:last-child>a:before{
	display: none;
} */
header .menu_wrap ul li>a:hover {
	color:#cf1141;
}
header .menu_wrap ul li>a:hover:before{
	background-color: #cf1141;
}
header .menu_wrap ul li>a>i {
	margin-right: 10px;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}
header .menu_wrap ul li>a:hover>i {
	color:#cf1141;
}

header .rightPart .middle{
	padding-top: 28px;
}
header .rightPart .middle_row {
	width: 100%;
	height: 30px;
	overflow:hidden;
	margin-bottom: 10px;
}
header .rightPart .middle_row>* {
	display: inline-block;
}
header .rightPart .middle_row form {
	height: 100%;
	display: inline-block;
}
header .rightPart .input_wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 305px;
	height: 100%;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
header .rightPart .input_wrap input {
	border:none;
	background-color: #e8e8e8;
	color: inherit;
	font-size: 1.3rem;
	height: 100%;
	width: 275px;
	font-weight: 600;
}
header .rightPart .input_wrap button {
	width: 30px;
	height: 100%;
	background-color: #242424;
	border:none;
}
header .rightPart .input_wrap button>i {
	color: #fff;
}
header .rightPart .middle_row .personalCab {
	float: right;
	height: 30px;
	cursor: pointer;
}
header .rightPart .middle_row .personalCab i{
	margin-right: 10px;
	line-height: 30px;
	font-size: 1.4rem;
	text-align:right;
}
header .rightPart .middle_row .phoneBlock {
	margin-left: 5%;
	height: 30px;
	line-height: 30px;
}
header .rightPart .middle_row .phoneBlock .phoneNumber i {
	font-size: 1.8rem;
	margin-right: 10px;
	-webkit-transform: rotateZ(-90deg);
	        transform: rotateZ(-90deg);
}
header .rightPart .middle_row .phoneBlock .phoneNumber a{
	font-size: 1.8rem;
	margin-right: 10px;
}
header .rightPart .middle_row .phoneBlock .callBackOrder {
	display: inline-block;
	width: 140px;
	height: 28px;
	background-color: #cf1141;
	text-align: center;
	cursor: pointer;
	border:1px solid #cf1141;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}
header .rightPart .middle_row .phoneBlock .callBackOrder>p{
	color: #fffefe;
	line-height: 25px;
	font-size: 1.3rem;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;.
	padding: 0;
	margin: 0;
}
header .rightPart .middle_row .phoneBlock .callBackOrder i {
	display: none;
}
header .rightPart .middle_row .adress {
	width: 305px;
	height: 100%;
}
header .rightPart .middle_row .adress p {
	padding: 0;
	margin: 0;
	display: inline;
	font-size: 1.3rem;
	line-height: 30px;
}
header .rightPart .middle_row .adress i {
	font-size: 1.3rem;
	line-height: 30px;
	margin-right: 10px;
}
header .rightPart .middle_row .timeWork {
	margin-left: 5%;
	color:#909090;
	width: 323px;
	text-align: right;
	font-size: 1.3rem;
}
header .rightPart .middle_row p {
	padding: 0;
	margin: 0;
}
header .rightPart .middle_row .busketBlock {
	float: right;
	text-align: right;
	font-size: 1.4rem;
	line-height: 30px;
	cursor: pointer;
}
header .rightPart .middle_row .busketBlock i {
	margin-right: 10px;
	font-size: 2rem;
	line-height: 25px;
}
header .rightPart .middle_row .busketBlock #busketFill {
	color: #cf1141;
	margin-left: 5px;
}
header .bottom {
	width: 100%;
	background-color: #242424;
	height: 40px;
	margin-top: 10px;
}
header .bottom .menu_models {
	margin: 0 auto;
	padding: 0;
	height: 40px;
}
header .bottom ul {
	padding: 0;
	margin: 0;
	height: 40px;
	text-align: center;
	width: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
header .bottom ul>li {
	display: inline-block;
	text-align: center;
	padding: 0 20px;
	float: left;
	border-left:1px solid #3a3a3a;
	border-right:1px solid #3a3a3a;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}
header .bottom ul>li>a {
	color:#fff;
	line-height: 40px;
	text-transform: uppercase;
	font-size: 1.5rem;
}
header .bottom ul>li>a>i {
	color: #fff;
	font-size: 1.3rem;
	margin-left: 10px;
}
header .bottom ul>li:hover {
	background-color: #cf1141;
	border-color: #cf1141;
}


/* FOOTER */
footer {
	width: 100%;
	background-color: #242424;
}
footer .top {
	width: 100%;
	height: 50px;
	padding-top: 10px;
	border-bottom: 1px solid #414141;
}
footer .top ul {
	padding: 0;
	margin: 0;
	height: 30px;
	display: inline-block;
}
footer .top ul>li{
	display: inline-block;
	text-align: center;
	height: 100%;
}
footer .top ul>li>a {
	color: #fff;
	line-height: 30px;
	font-size: 1.3rem;
	text-transform: uppercase;
}
footer .top ul:last-child {
	border-left:1px solid #414141;
	float: right;
	padding-left: 15px;
}
footer .top ul:last-child>li>a {
	color: #a6a5a5;
}
footer .top ul>li {
	padding: 0 15px;
}
footer .top ul:first-child>li:first-child {
	padding-left: 0;
}
footer .top ul:last-child>li:last-child {
	padding-right: 0;
}

footer .middle {
	width:80%;
	min-width: 735px;
	margin:0 auto;
	padding: 30px 0;
}
footer .middle .leftPart {
	width: 100%;
	display: block;
	height: 100%;
}
footer .middle .leftPart .logoPart {
	width: 50%;
	float: left;
}
footer .middle .leftPart .logo>img {
	width: 70%;
	max-width: 350px;
}
footer .middle .leftPart .slogan {
	color: #fff;
	font-size: 1.3rem;
	margin-top: 5px;
}
footer .middle .leftPart .phonePart {
	width: 50%;
	float: left;
}
footer .middle .leftPart .phonePart>div {
	display: inline-block;
	float: right;
}
footer .middle .leftPart .phoneNumber a{
	color: #fff;
	font-size: 1.9rem;
	font-weight: 300;
}
footer .middle .leftPart .phoneNumber a>i {
	font-size: 2rem;
	color: #fff;
	-webkit-transform: rotateZ(-90deg);
	        transform: rotateZ(-90deg);
	margin-right: 10px;
}
footer .middle .leftPart .timeWork p{
	font-size: 1.3rem;
	color: #909090;
	margin-top: 10px;
	margin-bottom: 15px;
}
footer .middle .leftPart .callBackOrder {
	width: 138px;
	height: 23px;
	border:1px solid #cf1141;
	background-color: #cf1141;
	text-align: center;
	cursor: pointer;
	margin-left: 20px;
}
footer .middle .leftPart .callBackOrder p {
	line-height: 19px;
	font-size: 1.2rem;
	color: #fff;
	margin: 0;
	padding: 0;
}
footer .middle .leftPart .adressPart {
	width: 100%;
	float: left;
	margin:30px 0;
}
footer .middle .leftPart .adress {
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	display: inline-block;
	float: left;
}
footer .middle .leftPart .adress p {
	font-size: 1.5rem;	
	color: #fff;
	line-height: 1.6;
	margin: 0;
}
footer .middle .leftPart .adress i{
	font-size: 1.7rem;
	position: absolute;
	top: 3px;
	left: 0;
	color: #fff;
}
footer .middle .leftPart .footerMail {
	font-size: 1.5rem;
	color: #fff;
	display: inline;
	float: right;
	margin-left: 50px;
}
footer .middle .leftPart .footerMail:hover {
	color: #fff;
}
footer .middle .leftPart .footerMail>i{
	font-size: 1.3rem;
	color: #fff;
	margin-right: 10px;
}
footer .middle .rightPart {
	width: 100%;
	font-size: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
footer .rightPart__wrapper {
	display: inline-block;
	float: left;
	width: 50%;
}
footer .rightPart__wrapper .box{
	display: inline-block;
	float: left;
	margin-right: 10%;
}
footer .bottom .rightPart__wrapper .box:last-child {
	margin-right: 0;
}
footer .rightPart__wrapper .box a i{
	font-size: 5rem;
	color: #fff;
	-webkit-transition: all .1s ease;
	transition: all .1s ease;
}
footer .rightPart__wrapper .box a:hover i{
	color: #cf1141;
}
footer .middle .rightPart .payment_wrapper {
	text-align: right;
	width: 50%;
	padding-top: 15px;
}
footer .middle .rightPart .payment_wrapper .payment_block {
	width: 40px;
	margin-right: 20px;
	border-radius: 4px;
	display: inline-block;
	overflow:hidden;
}
footer .middle .rightPart .payment_wrapper .payment_block:last-child {
	margin-right: 0;
}
footer .middle .rightPart .payment_wrapper .payment_block>img {
	width: 100%;
}
footer .bottom {
	width: 100%;
	position: relative;
	padding: 25px 0;
	border-top: 1px solid #414141;
}
footer .bottom .stat_wrapper {
	position: absolute;
	left: 0;
	top: 20px;
}
footer .bottom .copyright {
	position: relative;
	text-align: center;
}
footer .bottom .copyright p{
	margin: 0;
	padding: 0;
	font-size: 1.3rem;
	color: #fff;
	display: inline;
}
footer .bottom .copyright a {
	display: inline;
	font-size: 1.3rem;
	color: #e6003a;
	margin-left: 5px;
}

/* POPUP */
.hamburger {
	width: 25px;
	height: 25px;
	font-size: 2rem;
	text-align: center;
	position: absolute;
	right: 15px;
	top: 15px;
	display: none;
}
#popup_background {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
}
.mobile_menu {
	position: absolute;
	right: 0;
	top: 0;
	width: 40%;
	min-width: 200px;
	background-color: #fff;
	z-index: 11;
	height: 100%;
	display: none;
	padding: 0 20px;
}
.mobile_menu.active {
	display: block;
	right: 0;
	-webkit-animation:slideRight .5s linear;
	        animation:slideRight .5s linear;
}
.mobile_menu .mobile_menu-wrapper {
	margin-top: 60px;
}
.mobile_menu .wrapper_row {
	border-bottom: 1px solid #e9ecee;
}
.mobile_menu .wrapper_row.first{
	border-top: 1px solid #e9ecee;
}
.mobile_menu .wrapper_row.first ul {
	padding: 0;
	margin: 0;
	text-align: center;
}
.mobile_menu .wrapper_row.first ul li {
	margin:15px 0;	
}
.mobile_menu .wrapper_row.first ul li a{
	font-size: 1.3rem;
}
.mobile_menu .wrapper_row .phoneNumber {
	margin:20px auto;
}
.mobile_menu .wrapper_row .phoneNumber i {
	display: block;
	font-size: 1.3rem;
	-webkit-transform: rotateZ(-90deg);
	        transform: rotateZ(-90deg);
	margin-bottom: 5px;
}
.mobile_menu .wrapper_row .phoneNumber a{
	display: block;
	font-size: 1.3rem;
	text-align: center;
}
.mobile_menu .wrapper_row .mail {
	display: block;
	margin:20px auto;
	text-align: center;
	font-size: 1.3rem;
}
.mobile_menu .wrapper_row .mail i {
	display: block;
	margin-bottom: 5px;
	font-size: 1.3rem;
}
.mobile_menu .wrapper_row .adress {
	text-align: center;
	margin:20px auto;
}
.mobile_menu .wrapper_row .adress i {
	display: block;
	font-size: 1.3rem;
	margin-bottom: 5px;
}
.mobile_menu .wrapper_row .adress p{
	display: block;
	font-size: 1.3rem;
	text-align: center;
	margin: 0;
	padding: 0;
}
@-webkit-keyframes slideRight {
	0%{
		right: -500px;
	}
	100%{
		right: 0;
	}
}
@keyframes slideRight {
	0%{
		right: -500px;
	}
	100%{
		right: 0;
	}
}

.close {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
	background-image: url(../img/close.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	z-index: 12;
	opacity: 1;
}



/* BREADCRUMBS */
.content {
	position: relative;
}
.breadcrumbs {
	position: absolute;
	top: -50px;
	left: 0;
	width: 100%;
}
.breadcrumbs a {
	color: #909090;
	font-size: 1.2rem;
}
.breadcrumbs .wrapper span.divider {
	color: #909090;
	font-size: 1.2rem;
}
.breadcrumbs .wrapper span:last-child a{
	color: #cf1141;
	pointer-events: none;
	font-weight: 600;
}



@media all and (max-width: 1320px) {
	.container{
		width: 960px;
	}
	header .logo>img {
		width: 100%;
	}
	header .slogan {
		width: 100%;
		font-size: 1.4rem;
	}
	header .menu_wrap ul li>a, header .menu_wrap ul li:last-child>a {
		font-size: 1rem;
	}
	header .rightPart .input_wrap {
		width: 230px;
	}
	header .rightPart .middle_row .adress {
		width: 230px;
		padding-left: 20px;
		position: relative;
		float: left;
	}
	header .rightPart .middle_row .adress i, header .rightPart .middle_row .adress p {
		font-size: 1.1rem;
		line-height: 1;
	}
	header .rightPart .middle_row .adress i {
		position: absolute;
		top: 3px;
		left: 0;
	}
	header .rightPart .middle_row .phoneBlock .phoneNumber a {
		font-size: 1.5rem;
	}
	header .rightPart .middle_row .phoneBlock .callBackOrder>p {
		font-size: 1rem;
	}
	header .rightPart .middle_row .phoneBlock .callBackOrder {
		width: 105px;
	}
	header .rightPart .middle_row .personalCab {
		font-size: 1.1rem;
	}
	header .rightPart .middle_row .personalCab i {
		font-size: 1.1rem;
		margin-right: 5px;
	}
	header .rightPart .middle_row .phoneBlock {
		margin-left: 3%;
	}
	header .rightPart .middle_row .timeWork {
		margin-left: 3%;
		width: 263px;
		font-size: 1rem;
		height: 30px;
		float: left;
	}
	header .rightPart .middle_row .timeWork p {
		line-height: 30px;
	}
	header .rightPart .middle_row .busketBlock {
		font-size: 1rem;
	}
	header .rightPart .middle_row .busketBlock i {
		font-size: 1.5rem;
	}
	header .bottom ul>li {
		padding: 0 18px;
	}
	header .bottom ul>li>a {
		font-size: 1.3rem;
	}
	footer .top ul:last-child {
		padding-left: 8px;
	}
	footer .top ul>li {
		padding: 0 6px;
	}
	footer .bottom .rightPart .box {
		height: 145px;
	}
	footer .bottom .leftPart .stat_wrapper {
		margin-top: 50px;
	}
	footer .bottom .rightPart .drive_box {
		padding: 0 10px;
	} 
	footer .bottom .rightPart .drive_box p.first {
		font-size: 1.1rem;
		margin-top: 15px;
		margin-bottom: 10px;
	}
	footer .bottom .rightPart .drive_box p:last-child {
		margin-top: 6px;
		font-size: 1rem;
	}
	header .menu_wrap .city {
		font-size: 1.2rem;
	}
	header .menu_wrap ul li>a:before {
		top: 4px;
	}
}

@media all and (max-width: 1000px) {
	.container {
		width: 700px;
	}
	header .menu_wrap {
		height: 60px;
	}
	header .menu_wrap ul {
		float: left;
	}
	header .menu_wrap .city {
		height: 25px;
		line-height: 25px;
	}
	header .menu_wrap ul li {
		padding: 0 10px;
		height: 25px;
	}
	header .menu_wrap ul li>a {
		line-height: 25px;
	}
	header .menu_wrap ul li>a:before {
		left: -10px;
		top: 5px;
	}
	header .bottom ul>li {
		padding: 0 8px;
	}
	header .bottom ul>li>a {
		display: inline;
		font-size: 1.1rem;

	}
	header .bottom ul>li>a>i {
		display: inline;
	}
	header .rightPart .input_wrap {
		width: 150px;
	}
	header .rightPart .input_wrap input {
		width: 120px;
	}
	header .rightPart .phoneNumber {
		display: none;
	}
	header .rightPart .middle_row .phoneBlock {
		margin-left: 13%;
	}
	header .slogan {
		margin-top: 15px;
		font-size: 1.2rem;
	}
	header .rightPart .middle_row .adress {
		padding-left: 10px;
		width: 150px;
	}
	header .rightPart .middle_row .timeWork {
		width: 155px;
	}
	header .rightPart .middle {
		padding-top: 18px;
	}
	footer .bottom .rightPart .box {
		height: 85px;
	}
	footer .bottom .leftPart .stat_wrapper {
		margin-top: 0;
		margin-bottom: 20px;
	}
	footer .bottom .rightPart .drive_box>.img_wrap {
		width: 100%;
	}
	footer .bottom .rightPart .drive_box>.img_wrap>a>img {
		width: 60%;
	}
	footer .bottom .rightPart .drive_box p.first {
		font-size: 0.6rem;
		margin-top: 5px;
	}
	footer .bottom .rightPart .drive_box p:last-child {
		font-size: 0.6rem;
	}
	footer .top ul>li>a {
		font-size: 0.9rem;
	}
	footer .top ul>li {
		padding: 0 5px;
	}
	footer .top ul:last-child {
		padding-left: 0px;
	}
	header .bottom ul{
		padding: 0 40px;
	}
	.header__menu-slider li {
		height: 40px;
		padding: 0;
		text-align: center;
		border-left:1px solid #3a3a3a;
	}
	.header__menu-slider li:hover, .header__menu-slider li:focus {
		background-color: #cf1141;
	}
	.header__menu-slider li a {
		font-size: 1.2rem;
		color: #fff;
		line-height: 40px;
		text-transform: uppercase;
	}
	.header__menu-slider li i {
		font-size: 1.1rem;
		color: #fff;
		margin-left: 10px;
	}
	.slick-prev, .slick-next {
		width: 40px;
		height: 40px;
		background-color: transparent;
	}
	header .slick-prev:focus {
		background-image: url(../img/prev-arrow.jpg);
	}

	header .slick-next:focus {
		background-image: url(../img/next-arrow.jpg);
	}
	header .slick-prev {
		left: 0px;
	}
	header .slick-next {
		right: 0px;
		border:1px solid #3a3a3a;
	}
	.slick-prev:before, .slick-next:before {
		color: transparent;
		content: '';
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.slick-prev {
		background-image: url(../img/prev-arrow.jpg);
	}
	.slick-next {
		background-image: url(../img/next-arrow.jpg);
	}
	header .slick-list {
		padding: 0 2px;
	}
	footer .middle {
		width: 100%;
		min-width: 100%;
	}
	footer .middle .leftPart .phoneNumber a {
		font-size: 1.4rem;
	}
	footer .middle .leftPart .phoneNumber a>i {
		font-size: 1.6rem;
	}
	footer .middle .leftPart .adress p {
		font-size: 1.3rem;
	}
	footer .middle .leftPart .adress i {
		font-size: 1.5rem;
	}
	footer .middle .leftPart .callBackOrder {
		margin-left:10px;
		width: 115px;
	}
	footer .rightPart__wrapper .box a i {
		font-size: 3.5rem;
	}
	footer .middle .rightPart .payment_wrapper {
		padding-top: 5px;
	}
}

@media all and (max-width: 715px) {
	body>.content {
		overflow-x: hidden;
	}

	footer .top, footer .middle, footer .bottom .leftPart .stat_wrapper,
	footer .bottom .rightPart, footer .bottom .leftPart .copyright a, 
	header .slogan, header .menu_wrap, header .rightPart .middle_row .adress, 
	header .rightPart .middle_row .timeWork{
		display: none;
	}
	.breadcrumbs .container>.row {
		margin: 0;
	}
	footer .bottom .leftPart {
		margin-left:50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
		padding: 20px 0;
		clear: both;
		text-align: center;
	}
	footer .bottom .leftPart .copyright p {
		font-size: 1.2rem;
	}
	header .rightPart .middle_row .phoneBlock .callBackOrder {
		background-color: transparent;
		border:none;
		height: 30px;
		width: 125px;
		position: absolute;
		top: 30px;
		left: 10px;
	}
	header .rightPart .middle_row .phoneBlock .callBackOrder>p {
		color:inherit;
		line-height: 30px;
		display: inline;
		font-size: 1.1rem;
	}
	header .logoBox {
		display: block;
		width: 100%;
	}
	header .logo {
		margin-top: 20px;
		width: 300px;
		max-width: 70%;
	}
	header .logo>img {
		width: 100%;

	}
	header>.container>.row>.rightPart {
		width: 100%;
	}
	header .rightPart .middle_row .phoneBlock .callBackOrder>i {
		display: inline;
		font-size: 1.4rem;
		color: inherit;
		-webkit-transform: rotateZ(-90deg);
		        transform: rotateZ(-90deg);
		margin-right: 10px;
	} 
	header .rightPart .middle_row {
		margin-bottom: 0;
	}
	header .bottom {
		margin-top: 0;
	}
	header .rightPart .middle {
		padding-top: 0;
		height: 160px;
		position: relative;
	}
	header .rightPart .middle_row.first {
		padding-top: 80px;
		height: auto;
	}
	header .rightPart .input_wrap {
		width: 100%;
		height: 30px;
	}
	header .rightPart .input_wrap input {
		width: 100%;
		height: 100%;
	}
	header .rightPart .middle_row .busketBlock {
		position: absolute;
		top: 30px;
		right: 10px;
		font-size: 1.1rem;
	}
	header .rightPart .middle_row .busketBlock i{
		font-size: 1.4rem;
	}
	header .rightPart .middle_row .personalCab {
		position: absolute;
		top: 30px;
		left:50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
		font-size: 1.1rem;
	}
	header .rightPart .middle_row .personalCab i{
		font-size: 1.4rem;
	}
	header .rightPart .middle_row .phoneBlock {
		margin-left: 0;
	}
	header .rightPart .middle_row.second {
		height: 0;
	}
	header {
		height: auto;
	}
	header .rightPart .middle_row form {
		width: 100%;
		max-width: 440px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
		position: relative;
	}
	.container {
		width: 100%;
	}
	footer .bottom .leftPart {
		min-width: 250px;
	}
	.hamburger {
		display: block;
	}
}
@media all and (max-width: 645px) {
	footer .bottom .stat_wrapper {
		display: none;
	}
}

@media all and (max-width: 480px) {
	.breadcrumbs {
		display: none;
	}
	header .bottom {
		width: 92%;
		margin:0 auto;
	}
	header .menu_models {
		padding: 0;
	}
	.header__menu-slider li.last>a {
		font-size: 0.7rem;
	}
	header .rightPart .middle_row .personalCab {
		top: 0;
	}
	footer .bottom .copyright a {
		display: none;
	}
	.header__menu-slider li i {
		margin-left: 5px;
	}
}