
/* MODEL_TILES */

section.model_tiles {
	width: 100%;
	background-color: #fff;
}
section.model_tiles a.tile {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 25%;
	height: 135px;
	float: left;
	position: relative;
	margin-bottom: 30px;
	-webkit-transition:all .1s ease;
	transition:all .1s ease;
	cursor: pointer;
}
section.model_tiles .tile:hover .img_wrap img{
	width: 100%;
}
section.model_tiles .tile .model_name{
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	background-color: #242424;
	text-align: center;
	z-index: 1;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
	color: #fff;
	font-size: 1.2rem;
	line-height: 25px;
	padding: 0 15px;
}
section.model_tiles .tile:hover .model_name {
	background-color: #cf1141;
}
section.model_tiles .tile .img_wrap img {
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	        transform: translate3d(-50%,-50%,0);
	-webkit-transition:all .1s ease;
	transition:all .1s ease;
}

@media all and (max-width: 1000px) {
	section.model_tiles a.tile {
		height: 95px;
	}
}
@media all and (max-width: 700px) {
	section.model_tiles .tiles_wrap {
		width: 90%;
		margin-left: 5%;
	}
	section.model_tiles a.tile {
		height: 190px;
	}
}

/* SLIDER */

section.slider {
	margin-top: 60px;
	background-color: #fff;
}
section.slider .slick-prev {
	left: 0;
	background-image: url(../img/arrow-prev-slider.png);
} 
section.slider .slick-next {
	right: 0;
	background-image: url(../img/arrow-next-slider.png);
}
section.slider .slick-next, section.slider .slick-prev {
	width: 40px;
	height: 60px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	z-index: 10;
	background-color: #242424;
}
section.slider .slick-next:hover, section.slider .slick-prev:hover {
	background-color: #cf1141;
}
section.slider .slick-prev:before {
	content:'';
	color: #fff;
	font-size: 20px;
	opacity: 1;
	font-family: slick;
}
section.slider .slick-next:before {
	content:'';
	color: #fff;
	font-size: 20px;
	opacity: 1;
	font-family: slick;
}
section.slider .slick-dots {
	bottom: 20px;
	z-index: 10;
}
section.slider .slick-dots li button:before {
	width: 10px;
	height: 10px;
	content: '';
	background-color: #fff;
	opacity: 1;
	color: #fff;
	margin-top: 2px;
	margin-left: 2px;
}
section.slider .slick-dots li.slick-active button:before {
	width: 14px;
	height: 14px;
	background-color: #cf1141;
	margin: 0;
}

@media all and (max-width: 1320px) {
	section.slider .slide>img {
		width: 100%;
	}
}
@media all and (max-width: 700px) {

	section.slider .slider_wrap {
		width: 96%;
		margin-left: 2%;	
	}
	section.slider .slider_wrap .slide img {
		width: auto;
		height: 300px;
	}

}


/* CATALOG */
section h2 {
	font-size: 2.7rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 70px;
	margin-top: 40px;
	color: #242424;
}
section.catalog {
	background-color: #fff;
}
section.catalog>.container>.row {
	position: relative;
}
section.catalog .catalog__tile_wrap {
	width: 100%;
}
.catalog__tile_wrap>.tile {
	width: 290px;
	height: 290px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 40px;
	margin-right: 40px;
	float: left;
	position: relative;
	overflow:hidden;
}
.catalog__tile_wrap>.tile.w2 {
	width: 620px;
	height: 290px;
}
.catalog__tile_wrap>.tile.height2 {
	width: 290px;
	height: 620px;
}
.catalog__tile_wrap>.tile.interior {
	background-image: url(../img/interior-catalog.jpg);
}
.catalog__tile_wrap>.tile.exterior {
	background-image: url(../img/exterior-catalog.jpg);
}
.catalog__tile_wrap>.tile.add {
	background-image: url(../img/add-catalog.jpg);
	margin-right: 0;
}
.catalog__tile_wrap>.tile.exaust {
	background-image: url(../img/exaust-catalog.jpg);
}
.catalog__tile_wrap>.tile.wheels {
	background-image: url(../img/wheels-catalog.jpg);
	margin-right: 0;
}
.catalog__tile_wrap>.tile.brakes {
	background-image: url(../img/brakes-catalog.jpg);
	position: absolute;
	bottom: 0;
	left: 0;
}
.catalog__tile_wrap>.tile.suspention {
	background-image: url(../img/suspention-catalog.jpg);
	position: absolute;
	bottom: 0;
	left: 330px;
}
.catalog__tile_wrap>.tile.engine {
	background-image: url(../img/engine-catalog.jpg);
	position: absolute;
	bottom: 0;
	left: 660px;
}
.catalog__tile_wrap>.tile>a {
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(32,32,33,.8);
	text-transform:uppercase;
	text-align: center;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.catalog__tile_wrap>.tile>a:hover {
	background-color: rgba(32,32,33,.5);
}
.catalog__tile_wrap>.tile>a>span {
	position: relative;
	top: 45%;
	font-size: 2.1rem;
	font-weight:300;
	color: #fff;
}

@media all and (max-width: 1320px) {
	.catalog__tile_wrap>.tile.height2 {
		width: 210px;
		height: 460px;
	}
	.catalog__tile_wrap>.tile {
		width: 210px;
		height: 210px;
	}
	.catalog__tile_wrap>.tile.w2 {
		width: 460px;
		height: 210px;
	}
	.catalog__tile_wrap>.tile.suspention {
		left: 250px;
	}
	.catalog__tile_wrap>.tile.engine {
		left: 500px;
	}
	.catalog__tile_wrap>.tile>a>span {
		font-size: 1.7rem;
	}
}
@media all and (max-width: 1000px) {
	.catalog__tile_wrap>.tile {
		margin-bottom: 30px;
		margin-right: 30px;
	}
	.catalog__tile_wrap>.tile.exterior {
		position: absolute;
		top: 380px;
		left: 240px;
	}
	.catalog__tile_wrap>.tile.height2 {
		height: 450px;
	}
	.catalog__tile_wrap>.tile.wheels {
		position: absolute;
		right: 10px;
		top: 380px;
	}
	.catalog__tile_wrap>.tile.exaust {
		margin-bottom: 270px;
	}
	.catalog__tile_wrap>.tile.suspention {
		left: 240px;
	}
	.catalog__tile_wrap>.tile.engine {
		left: 480px;
	}
	.catalog__tile_wrap>.tile.w2 {
		width: 450px;
	}
}
@media all and (max-width: 700px) {
	.catalog__tile_wrap>.tile.height2 {
		width: 30vw;
		height: 63.3vw;
	}
	.catalog__tile_wrap>.tile.w2 {
		width: 63.3vw;
		height: 30vw;
	}
	.catalog__tile_wrap>.tile {
		width: 30vw;
		height: 30vw;
		margin-right: 3.3vw;
		margin-bottom: 3.3vw;
	}
	section.catalog>.container>.row {
		padding: 0;
		margin: 0;
	}
	.catalog__tile_wrap>.tile.add {
		position: absolute;
		top: 140px;
		right: 0;
	}
	.catalog__tile_wrap>.tile.wheels {
		right: 0;
		top: 53vw;
	}
	.catalog__tile_wrap>.tile.exterior {
		left: 32.7vw;
		top: 53vw;
	}
	.catalog__tile_wrap>.tile.exaust {
		margin-bottom: 37vw;
	}
	.catalog__tile_wrap>.tile.engine {
		bottom: 0;
		right: 0;
		left: auto;
		margin-right: 0;
	}
	.catalog__tile_wrap>.tile.suspention {
		left: 32.7vw;
	}
}
@media all and (max-width: 640px) {
	.catalog__tile_wrap>.tile.wheels {
		top: 55vw;
	}
	.catalog__tile_wrap>.tile.exterior {
		top: 55vw;
	}
}
@media all and (max-width: 590px) {
	.catalog__tile_wrap>.tile.wheels {
		top: 57vw;
	}
	.catalog__tile_wrap>.tile.exterior {
		top: 57vw;
	}
}
@media all and (max-width: 540px) {
	.catalog__tile_wrap>.tile.wheels {
		top: 59vw;
	}
	.catalog__tile_wrap>.tile.exterior {
		top: 59vw;
	}
}
@media all and (max-width: 500px) {
	.catalog__tile_wrap>.tile.height2 {
		width: 45vw;
		height: 94vw;
	}
	.catalog__tile_wrap>.tile {
		width: 45vw;
		height: 45vw;
		margin: 0;
	}
	.catalog__tile_wrap>.tile.w2 {
		width: 94vw;
		height: 45vw;
	}
	.catalog__tile_wrap>.tile.exaust {
		margin-bottom: 98vw;
	}
	.catalog__tile_wrap>.tile.suspention {
		left: 0;
		bottom: 49vw;
	}
	.catalog__tile_wrap>.tile.engine {
		top: auto;
		bottom: 195vw;
	}
	.catalog__tile_wrap>.tile.height2 {
		margin-bottom: 3vw;
		margin-top: 49vw;
	}
	.catalog__tile_wrap>.tile.wheels {
		bottom: 0;
		top: auto;
		margin: 0;
	}
	.catalog__tile_wrap>.tile.exterior {
		right: 0;
		left: auto;
		top: auto;
		bottom: 146vw;
	}
}
@media all and (max-width: 420px) {
	.catalog__tile_wrap>.tile.w2 {
		width: 93vw;
	}
	.catalog__tile_wrap>.tile>a {
		font-size: 1.5rem;
	}
}
@media all and (max-width: 360px) {
	.catalog__tile_wrap>.tile.w2 {
		width: 91vw;
	}
}


/* ABOUT */

section.about {
	background-color: #fff;
}
section.about p {
	font-size: 1.4rem;
	width: 100%;
	-webkit-column-count: 2;
	        column-count: 2;
	-webkit-column-gap:100px;
	        column-gap:100px;
	text-align: justify;
	margin-bottom: 70px;
	line-height: 1.6;
}
@media all and (max-width: 700px) {
	section.about .container>.row {
		margin: 0;
	}
	section.about p {
		-webkit-column-gap:30px;
		        column-gap:30px;
	}
	
}
@media all and (max-width: 500px) {
	
	section.about p {
		-webkit-column-count: 1;
		        column-count: 1;
		-webkit-column-gap:0;
		        column-gap:0;
		font-size: 1.8rem;
	}
	section.about h2 {
		margin-top: 60px;
		margin-bottom: 40px;
	}
}
@media all and (max-width: 420px) {
	section.about p {
		text-align: left;
	}
}


/* POPOLAR GOODS */

section.popular {
	width: 100%;
	background-color: #f1f4f6;
	padding-bottom: 120px;
}
section.popular h2 {
	margin-top: 70px;
}
.popular__slider-wrap {
	width: 100%;
}
.popular__slider-wrap .popularBlock {
	width: 290px;
	height: 410px;
	background-color: #fff;
	position: relative;
	margin: 0 20px;
}
.popular__slider-wrap .popularBlock .img_wrap {
	width: 100%;
	height: 180px;
	overflow:hidden;
}
.popular__slider-wrap .popularBlock .img_wrap img{
	width: 100%;
	height: auto;
}
.popular__slider-wrap .popularBlock .ticket {
	position: absolute;
	height: 23px;
	top: 16px;
	left:-4px;
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: 100% 100%;
	background-color: transparent;
}
.popular__slider-wrap .popularBlock .ticket.hit {
	background-image: url(../img/hit-mark.png);
	width: 47px;
}
.popular__slider-wrap .popularBlock .ticket.new {
	background-image: url(../img/new-mark.png);
	width: 85px;
}
.popular__slider-wrap .popularBlock .ticket.action {
	background-image: url(../img/action-mark.png);
	width: 68px;
}
.popular__slider-wrap .popularBlock .content_wrap {
	padding: 0 20px;
}
.popular__slider-wrap .popularBlock .content_wrap>.code{
	margin-top: 15px;
	font-size: 1.2rem;
	margin-bottom: 5px;
}
.popular__slider-wrap>.popularBlock .content_wrap>.code>span {
	font-size: 1.2rem;
}
.popular__slider-wrap .popularBlock .content_wrap>a.title {
	display: block;
	width: 100%;
	max-height: 72px;
	overflow:hidden;
	font-size: 1.2rem;
	margin-bottom: 10px;
	font-weight: 600;
	margin-top: 10px;
	cursor: pointer;
}
.popular__slider-wrap .popularBlock .content_wrap>a.title:hover {
	color: #cf1141;
}
.popular__slider-wrap .popularBlock .content_wrap>.warehouse{
	font-size: 1.2rem;
	color: #a5a5a5;
	margin-bottom: 5px;
}
.popular__slider-wrap .popularBlock .content_wrap>.warehouse>span {
	font-size: 1.2rem;
	color: #a5a5a5;
}
.popular__slider-wrap .popularBlock .content_wrap>.producer {
	font-size: 1.2rem;
}
.popular__slider-wrap .popularBlock .content_wrap>.producer>span {
	color: #000;
	font-weight: 700;
	font-size: 1.2rem;
}
.popular__slider-wrap .popularBlock .bottomPart {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.popular__slider-wrap .popularBlock .bottomPart>.addToBusket {
	width: 70px;
	height: 35px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #242424;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}
.popular__slider-wrap .popularBlock .bottomPart>.addToBusket:hover {
	background-color: #cf1141;
}
.popular__slider-wrap .popularBlock .bottomPart>.addToBusket>span{
	font-size: 2rem;
	color: #fff;
	font-weight: 400;
	line-height: 35px;
	margin-right: 5px;
}
.popular__slider-wrap .popularBlock .bottomPart>.addToBusket>i{
	font-size: 2.3rem;
	color: #fff;
	line-height: 35px;
}
.popular__slider-wrap .popularBlock .bottomPart>.priceBox {
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.popular__slider-wrap .popularBlock .bottomPart>.priceBox>.previous {
	font-size: 1.6rem;
	color: #a5a5a5;
	text-transform: uppercase;
	text-decoration: line-through;
}
.popular__slider-wrap .popularBlock .bottomPart>.priceBox>.previous>span {
	font-size: 1.2rem;
	color: #a5a5a5;
	text-transform:none;
}
.popular__slider-wrap .popularBlock .bottomPart>.priceBox>.actual {
	font-size: 2.1rem;
	color: #cf1141;
}
.popular__slider-wrap .popularBlock .bottomPart>.priceBox>.actual>span {
	font-size: 1.6rem;
	color: #cf1141;
}
section.popular .slick-dots {
	bottom: -75px;
}
section.popular .slick-dots li button:before {
	width: 9px;
	height: 9px;
	content: '';
	background-color: #d0d7dc;
	opacity: 1;
	color: #d0d7dc;
	margin-top: 2px;
	margin-left: 2px;
}
section.popular .slick-dots li.slick-active button:before {
	width: 14px;
	height: 14px;
	background-color: #cf1141;
	margin: 0;
}
section.popular .slick-prev {
	left: 0;
	background-image: url(../img/arrow-prev-popular.png);
	left:50%;
	-webkit-transform: translateX(-105px);
	        transform: translateX(-105px);
} 
section.popular .slick-next {
	right: 0;
	background-image: url(../img/arrow-next-popular.png);
	right:50%;
	-webkit-transform: translateX(100px);
	        transform: translateX(100px);
}
section.popular .slick-next, section.popular .slick-prev {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	z-index: 10;
	background-color: transparent;
	top:auto;
	bottom: -71px;
}
section.popular .slick-prev:hover {
	background-image: url(../img/arrow-prev-active-popular.png);
}
section.popular .slick-next:hover {
	background-image: url(../img/arrow-next-active-popular.png);
}
section.popular .slick-prev:before, section.popular .slick-next:before {
	display: none;
}


@media all and (max-width: 1320px) {
	.popular__slider-wrap .popularBlock .bottomPart>.priceBox>.actual {
		font-size: 1.8rem;
	}
	.popular__slider-wrap .popularBlock .bottomPart>.addToBusket {
		width: 60px;
		height: 30px;
	}
	.popular__slider-wrap .popularBlock .bottomPart>.addToBusket>span {
		font-size: 1.8rem;
		line-height: 30px;
	}
	.popular__slider-wrap .popularBlock .bottomPart>.addToBusket>i {
		line-height: 30px;
		font-size: 2rem;
	}
	.popular__slider-wrap .popularBlock {
		margin: 0 10px;
	}
}
@media all and (max-width: 700px) {
	section.popular .container>.row {
		margin: 0;
	}
}
@media all and (max-width: 480px) {
	section.popular .slick-next, section.popular .slick-prev {
		width: 30px;
		height: 30px;
		background-color: #242424;
		bottom: auto;
		top: 50%;
		-webkit-transform: translateY(50%);
		        transform: translateY(50%);
	}
	section.popular .slick-next, section.popular .slick-next:hover {
		background-image: url(../img/arrow-next-slider.png);
		right: -45px;
	}
	section.popular .slick-prev, section.popular .slick-prev:hover {
		background-image: url(../img/arrow-prev-slider.png);
		left: -45px;
	}
	section.popular .slick-next:hover, section.popular .slick-prev:hover {
		background-color: #cf1141;
	}
	.popular__slider-wrap {
		width: 300px;
		margin-left: auto;
		margin-right:auto;
	}
}
@media all and (max-width: 390px) {
	section.popular .slick-next, section.popular .slick-next:hover {
		right: -15px;
	}
	section.popular .slick-prev, section.popular .slick-prev:hover {
		left: -15px;
	}
}
@media all and (max-width: 330px) {
	.popular__slider-wrap {
		width: 290px;
	}
}

/* AUTOHOUSE SLIDER */

section.autoHouse {
	background-color: #fff;
}
section.autoHouse>.container>.row {
	padding-bottom: 75px;
	border-bottom: 1px solid #f1f4f6;
}
section.autoHouse h2 {
	margin-top: 70px;
	margin-bottom: 50px;
}
section.autoHouse .autoHouse__slider_wrap {
	width:1100px;
	margin:0 auto;
}
section.autoHouse .autoHouse__slider_wrap .autoHouse__slide {
	text-align:center;
	opacity: 0.5;
	-webkit-filter:saturate(0%);
	        filter:saturate(0%);
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}
section.autoHouse .autoHouse__slider_wrap .autoHouse__slide>img{
	margin:0 auto;
}
section.autoHouse .slick-prev {
	left: -80px;
	background-image: url(../img/arrow-prev-slider.png);
} 
section.autoHouse .slick-next {
	right: -80px;
	background-image: url(../img/arrow-next-slider.png);
}
section.autoHouse .slick-next, section.autoHouse .slick-prev {
	width: 40px;
	height: 60px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	z-index: 10;
	background-color: #242424;
	-webkit-transition: all .1s ease;
	transition: all .1s ease;
}
section.autoHouse .slick-next:hover, section.autoHouse .slick-prev:hover {
	background-color: #cf1141;
}
section.autoHouse .slick-prev:before {
	content:'';
	color: #fff;
	font-size: 20px;
	opacity: 1;
	font-family: slick;
}
section.autoHouse .slick-next:before {
	content:'';
	color: #fff;
	font-size: 20px;
	opacity: 1;
	font-family: slick;
}
section.autoHouse .autoHouse__slider_wrap .autoHouse__slide.slick-current {
	opacity: 1;
	-webkit-filter: saturate(100%);
	        filter: saturate(100%);
}


@media all and (max-width: 1320px) {
	section.autoHouse .autoHouse__slider_wrap {
		width: 900px;
	}
	section.autoHouse .slick-next {
		right: 0;
	}
	section.autoHouse .slick-prev {
		left: 0;
	}
	section.autoHouse .slick-list {
		padding: 0 40px;
	}
	section.autoHouse .slick-prev, section.autoHouse .slick-next {
		top: 40%;
	}
}
@media all and (max-width: 1000px) {
	section.autoHouse .autoHouse__slider_wrap {
		width: 100%;
		padding: 0 40px;
	}
}
@media all and (max-width: 700px) {
	section.autoHouse .container>.row {
		margin: 0;
	}
}



/* ADVANTAGES */

section.advantages{
	padding-bottom: 10px;
	background-color: #fff;
}
section.advantages h2 {
	margin-top: 70px;
	margin-bottom: 50px;
}
section.advantages .advantages_wrap{
	width: 1140px;
	margin-left: 140px;
}
section.advantages .advantage {
	padding-left: 80px;
	position: relative;
	margin-bottom: 60px;
	padding-right: 100px;
}
section.advantages .advantage:before {
	content: '';
	display: block;
	position: absolute;
	width: 46px;
	height: 46px;
	top: 0;
	left: 0;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
section.advantages .advantage.original:before {
	background-image:url(../img/100-icon-adv.png);
}
section.advantages .advantage.loyal:before {
	background-image:url(../img/loyal-icon-adv.png);
}
section.advantages .advantage.spec:before {
	background-image:url(../img/spec-icon-adv.png);
}
section.advantages .advantage.delivery:before {
	background-image:url(../img/delivery-icon-adv.png);
}
section.advantages .advantage.new:before {
	background-image:url(../img/new-icon-adv.png);
}
section.advantages .advantage.exp:before {
	background-image:url(../img/exp-icon-adv.png);
}
section.advantages .advantage p.title{
	margin: 0;
	font-size: 1.7rem;
	color:#cf1141;
	margin-bottom: 30px;
	font-weight: 600;
}
section.advantages .advantage .description {
	font-size: 1.6rem;
	line-height: 1.4;
}

@media all and (max-width: 1320px) {
	section.advantages .advantages_wrap {
		width: 100%;
		margin-left: 0;
	}
	section.advantages .advantage {
		padding-right: 70px;
	}
}
@media all and (max-width: 1000px) {
	section.advantages .advantage {
		padding-right: 30px;
	}
	section.advantages .advantage p.title {
		margin-bottom: 20px;
	}
}
@media all and (max-width: 700px) {
	section.advantages .container>.row {
		margin: 0;
	}
}
@media all and (max-width: 480px) {
	section.advantages .advantage {
		padding: 0;
		text-align: center;
		margin-top: 100px;
		padding-bottom: 30px;
		border-bottom: 1px solid #f1f4f6;
	}
	section.advantages .advantage:before {
		top: -60px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	section.advantages h2 {
		margin-bottom: 130px;
	}
}


/* NEWS */
section.news {
	padding-bottom: 100px;
	background-color: #f1f4f6;
}
section.news h2 {
	margin-top: 60px;
	margin-bottom: 40px;
}
.news__slider-wrap {
	width: 100%;
}
.news__slider-wrap .newsBlock {
	width: 290px;
	height: 310px;
	background-color: #fff;
	position: relative;
	margin: 0 20px;
	margin-top: 40px;
}
.news__slider-wrap .newsBlock .img_wrap {
	width: 100%;
	height: 110px;
	overflow:hidden;
}
.news__slider-wrap .newsBlock .img_wrap img{
	width: 100%;
	height: auto;
}
.news__slider-wrap .newsBlock .date {
	position: absolute;
	top: -30px;
	right:0px;
	background-color: transparent;
	text-align: right;
	font-size: 2rem;
	color: #c8d0d6;
	text-transform: uppercase;
}
.news__slider-wrap .newsBlock .content_wrap {
	padding: 0 20px;
}
.news__slider-wrap .newsBlock .content_wrap>a.title{
	display: block;
	width: 100%;
	margin-top: 15px;
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 20px;
	cursor: pointer;
}
.news__slider-wrap .newsBlock .content_wrap>a.title:hover{
	color: #cf1141;
}
.news__slider-wrap .newsBlock .content_wrap .description {
	width: 100%;
	height: 75px;
	overflow:hidden;
	font-size: 1.5rem;
	color: #7a7a7a;
	overflow:hidden;
}
.news__slider-wrap .newsBlock .bottomPart {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 20px;
}
.news__slider-wrap .newsBlock .bottomPart a {
	font-size: 1.3rem;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
	font-weight: 600;
}
.news__slider-wrap .newsBlock .bottomPart a>span i{
	font-size: 1.3rem;
	color: #cf1141;
	font-weight: 600;
}
.news__slider-wrap .newsBlock .bottomPart a:hover {
	color: #cf1141;
}
section.news .slick-dots {
	bottom: -75px;
}
section.news .slick-dots li button:before {
	width: 9px;
	height: 9px;
	content: '';
	background-color: #d0d7dc;
	opacity: 1;
	color: #d0d7dc;
	margin-top: 2px;
	margin-left: 2px;
}
section.news .slick-dots li.slick-active button:before {
	width: 14px;
	height: 14px;
	background-color: #cf1141;
	margin: 0;
}
section.news .slick-prev {
	left: 0;
	background-image: url(../img/arrow-prev-popular.png);
	left:50%;
	-webkit-transform: translateX(-105px);
	        transform: translateX(-105px);
} 
section.news .slick-next {
	right: 0;
	background-image: url(../img/arrow-next-popular.png);
	right:50%;
	-webkit-transform: translateX(100px);
	        transform: translateX(100px);
}
section.news .slick-next, section.news .slick-prev {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	z-index: 10;
	background-color: transparent;
	top:auto;
	bottom: -71px;
}
section.news .slick-prev:hover {
	background-image: url(../img/arrow-prev-active-popular.png);
}
section.news .slick-next:hover {
	background-image: url(../img/arrow-next-active-popular.png);
}
section.news .slick-prev:before, section.news .slick-next:before {
	display: none;
}
section.news .archive {
	margin-left: 20px;
	font-size: 1.5rem;
	font-weight: 600;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}
section.news .archive>span>i {
	font-size: 1.5rem;
	color: #cf1141;
	font-weight: 600;
}
section.news .archive:hover {
	color: #cf1141;
}

@media all and (max-width: 1320px) {
	.news__slider-wrap .newsBlock {
		margin-left: 10px;
		margin-right:10px;
	}
}
@media all and (max-width: 700px) {
	section.news .container>.row {
		margin: 0;
	}
}
@media all and (max-width: 480px) {
	section.news .slick-next, section.news .slick-prev {
		width: 30px;
		height: 30px;
		background-color: #242424;
		bottom: auto;
		top: 50%;
		-webkit-transform: translateY(50%);
		        transform: translateY(50%);
	}
	section.news .slick-next, section.news .slick-next:hover  {
		background-image: url(../img/arrow-next-slider.png);
		right: -45px;
	}
	section.news .slick-prev, section.news .slick-prev:hover {
		background-image: url(../img/arrow-prev-slider.png);
		left: -45px;
	}
	section.news .slick-next:hover, section.news .slick-prev:hover {
		background-color: #cf1141;
	}
	section.news .slick-dots {
		bottom: -95px;
	}
	.news__slider-wrap {
		width: 300px;
		margin-right: auto;
		margin-left:auto;
	}
	.news__slider-wrap .newsBlock .bottomPart a {
		display: block;
		width: 170px;
		height: 40px;
		text-align: center;
		color: #fff;
		line-height: 40px;
		background-color: #cf1141;
		margin:0 auto;
		margin-bottom: 10px;
	}
	.news__slider-wrap .newsBlock .bottomPart {
		height: 50px;
		padding: 0;
	}
	.news__slider-wrap .newsBlock {
		height: 330px;
	}
	.news__slider-wrap .newsBlock .bottomPart a span i{
		color: #fff;
	}
	.news__slider-wrap .newsBlock .bottomPart a:hover {
		color: #fff;
	}
	.news__slider-wrap .newsBlock .bottomPart a:hover span i{
		color: #fff;
	}
}
@media all and (max-width: 390px) {
	section.news .slick-next, section.news .slick-next:hover  {
		right: -15px;
	}
	section.news .slick-prev, section.news .slick-prev:hover {
		left: -15px;
	}
}
@media all and (max-width: 330px) {
	.news__slider-wrap {
		width: 290px;
	}
}

/* SIGNUP */
section.signUp {
	width: 100%;
	background-color: #242424;
	height: 90px;
}
section.signUp span {
	font-size: 2.2rem;
	color: #fff;
	float:left;
	margin-top: 30px;
}
section.signUp form {
	display: inline-block;
	margin: 0;
	padding: 0;
	float: right;
	padding-top: 25px;
}
section.signUp form button.submit{
	width: 170px;
	height: 40px;
	font-size: 1.4rem;
	color: #fff;
	border:none;
	background-color: #cf1141;
	outline: none;
	margin-left: 70px;
}
section.signUp form input {
	height: 40px;
	width: 25vw;
	min-width: 150px;
	max-width: 490px;
	font-size: 1.4rem;
	padding-left: 20px;
}

@media all and (max-width: 1320px) {
	section.signUp form button.submit {
		margin-left: 50px;
		width: 150px;
	}
	section.signUp span {
		font-size: 2rem;
	}
	section.signUp form input {
		width: 20vw;
	}
}
@media all and (max-width: 1000px) {
	section.signUp span {
		font-size: 1.5rem;
		margin-top: 35px;
	}
	section.signUp form button.submit {
		width: 120px;
		margin-left: 20px;
	}
}
@media all and (max-width: 700px) {
	section.signUp {
		height: auto;
		padding: 20px 0;
	}
	section.signUp .container>.row {
		margin: 0;
	}
	section.signUp span {
		margin-top: 0;
		margin-bottom: 15px;
		display: block;
		width: 100%;
		text-align: center;
		font-size: 2rem;
	}
	section.signUp form {
		display: block;
		float: left;
		width: 100%;
		padding-top: 10px;
		text-align: center;
	}
	section.signUp form input {
		width: 315px;
		margin-left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
		display: block;
		margin-bottom: 20px;
	}
	section.signUp form button.submit {
		margin: 0;
		width: 170px;
	}
}
@media all and (max-width: 330px) {
	section.signUp form input {
		width: 280px;
	}
}


/* ADVERTISE */
section.advertise {
	width: 100%;
	background-color: #fff;
	padding: 70px 0;
}
section.advertise .banner{
	width: 100%;
	height: 126px;
	border:2px solid #d5dbdf;
	font-size: 2rem;
	color: #d5dbdf;
	line-height: 120px;
	text-align: center;
}

@media all and (max-width: 700px) {
	section.advertise .container>.row {
		margin: 0;
	}
}
